{% extends 'base.html' %}
{% for item in cart_items %}
  <div>
    <span>{{ item.name }} - ${{ item.price }}</span>
    <form action="{% url 'place_order' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <input type="number" name="quantity" value="{{ item.quantity }}">
        <button type="submit">Place Order</button>
    </form>
  </div>
{% endfor %}


{% block content %}
        <!-- header -->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">View your cart</p>
                </div>
            </div>
        </header>
        <br><br><br><br><br><br><br><br><br>
{% endblock %}